In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv("thanksgiving.csv",encoding="Latin-1")

In [2]:
tg = "Do you celebrate Thanksgiving?"
data[tg].value_counts()

Yes    980
No      78
Name: Do you celebrate Thanksgiving?, dtype: int64

In [3]:
data = data[data[tg] == "Yes"]

In [4]:
data[tg].value_counts()

Yes    980
Name: Do you celebrate Thanksgiving?, dtype: int64

In [5]:
dishes_str = "What is typically the main dish at your Thanksgiving dinner?"
data[dishes_str].value_counts()

Turkey                    859
Other (please specify)     35
Ham/Pork                   29
Tofurkey                   20
Chicken                    12
Roast beef                 11
I don't know                5
Turducken                   3
Name: What is typically the main dish at your Thanksgiving dinner?, dtype: int64

In [6]:
gravy_str = "Do you typically have gravy?"
tofurkey = data[data[dishes_str]=="Tofurkey"]
tofurkey[gravy_str]

4      Yes
33     Yes
69      No
72      No
77     Yes
145    Yes
175    Yes
218     No
243    Yes
275     No
393    Yes
399    Yes
571    Yes
594    Yes
628     No
774     No
820     No
837    Yes
860     No
953    Yes
Name: Do you typically have gravy?, dtype: object

In [7]:
apple_str = "Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple"
apple_isnull = pd.isnull(data[apple_str])

In [8]:
pumpkin_str = "Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin"
pumpkin_isnull = pd.isnull(data[pumpkin_str])

In [9]:
pecan_str = "Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan"
pecan_isnull = pd.isnull(data[pecan_str])

In [10]:
ate_pies = apple_isnull & pumpkin_isnull & pecan_isnull
ate_pies.value_counts()

False    876
True     104
dtype: int64

In [11]:
def str_to_nb(str):
    if (pd.isnull(str)):
        return None
    else:
        strArray = str.split(' ')
        first_item = strArray[0].replace('+','')
        return int(first_item)

data["int_age"] = data["Age"].apply(str_to_nb)
data["int_age"].describe()

count    947.000000
mean      40.089757
std       15.352014
min       18.000000
25%       30.000000
50%       45.000000
75%       60.000000
max       60.000000
Name: int_age, dtype: float64

In [12]:
def str_to_nb2(str):
    if (pd.isnull(str)):
        return None
    else:
        strArray = str.split(' ')
        first_item = strArray[0]
        if(first_item=="Prefer"):
            return None
        else:
            first_item = first_item.replace('$','')
            first_item = first_item.replace(',','')
            return int(first_item)

combined_money_str="How much total combined money did all members of your HOUSEHOLD earn last year?"        
data["int_income"] = data[combined_money_str].apply(str_to_nb2)
data["int_income"].describe()

count       829.000000
mean      75965.018094
std       59068.636748
min           0.000000
25%       25000.000000
50%       75000.000000
75%      100000.000000
max      200000.000000
Name: int_income, dtype: float64

In [13]:
data_low_income = data[data["int_income"]<15000]
pivot_low = data_low_income["How far will you travel for Thanksgiving?"].value_counts()
pivot_low = pivot_low / pivot_low.sum() * 100
pivot_low

Thanksgiving is happening at my home--I won't travel at all                         41.071429
Thanksgiving is local--it will take place in the town I live in                     33.928571
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    19.642857
Thanksgiving is out of town and far away--I have to drive several hours or fly       5.357143
Name: How far will you travel for Thanksgiving?, dtype: float64

In [14]:
data_high_income = data[data["int_income"]>=15000]
pivot = pd.pivot_table(data_high_income,values="int_income", index="How far will you travel for Thanksgiving?",aggfunc='count')
total = pivot.sum()
pivot = pivot /total * 100
pivot

How far will you travel for Thanksgiving?
Thanksgiving is happening at my home--I won't travel at all                         41.980474
Thanksgiving is local--it will take place in the town I live in                     27.754533
Thanksgiving is out of town and far away--I have to drive several hours or fly       8.926081
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    21.338912
Name: int_income, dtype: float64

In [16]:
data.pivot_table(
    index="Have you ever tried to meet up with hometown friends on Thanksgiving night?", 
    columns='Have you ever attended a "Friendsgiving?"',
    values="int_age"
)

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

In [17]:
data.pivot_table(
    index="Have you ever tried to meet up with hometown friends on Thanksgiving night?", 
    columns='Have you ever attended a "Friendsgiving?"',
    values="int_income"
)

Have you ever attended a "Friendsgiving?"                     No           Yes
Have you ever tried to meet up with hometown fr...
No                                                  78914.549654  72894.736842
Yes                                                 78750.000000  66019.736842